@import '../../App.variables.scss';

.name{
    width: 8em;
    padding: 0.5em;
    border: 0px solid;
    border-radius: 0.4em;
    font-weight: 800;
    color: $base-color;
}

.contactWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 250px;
    margin-bottom: 1em;
}

.icon{
    fill: $base-color;
    height: 1.9em;
    width: 1.9em;
}